<html xmlns:fb="http://www.facebook.com/2008/fbml">
<body>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<div id="fb-root"></div>
<script>
    // assume we are already logged in
    //      FB.init({appId: '<%#= APP_KEY %>', xfbml: true, cookie: true});
    //      {new_bride_url}
    FB.ui({
        method: 'send',
        name: 'testing',
        link: 'google.com',
        picture: '<%= "" %>',
        to: 100000277256161,
        description: 'SnapKnot helps engaged couples find their perfect wedding photographer, and allows wedding guests to socialize and have early access to photos. Browse thousands of wedding and engagement photos for inspiration, choose your favorite photographers and contact for booking info - all for free.',
        show_error: true
    },requestCallback);

    function requestCallback(response) {
        if (response== null){
            // sending cancelled action
        }else{
            if(response["success"] == true){
                $.ajax({
                    type: "post",
                    url: "",
                    data: {team_member_id: "100000277256161>" },
                    success: function() {
                        $("#invite-member-100000277256161").parent().html("Invitation Sent");

                    }
                });
            }
        }
        $.colorbox.close();
    }
</script>
</body>
</html>

<%= @friends_response %>